{% extends "base.html" %}
{% block title %}MyBlog{% endblock %}
{% block content %}

    <div class="card">
        <h5 class="card-header">
            <a href="{{ url_for('blog.entries', id=item.Kategorie.id) }}">{{ item.Kategorie.name }}
            </a>
        </h5>
        <div class="card-body">
                            <h5 class="card-title">
                    <a href="{{ url_for('blog.blog_detail', id=item.id) }}">{{ item.titel }}
                    </a>
                </h5>
            <a class="btn btn-danger" href="{{ url_for('kategorie.kategorie_remove',id=item.id) }}">Remove</a>
            <a class="btn btn-primary" href="{{ url_for('kategorie.kategorie_update_get',id=item.id) }}">Update</a>
            <a class="btn btn-primary" href="{{ url_for('kategorie.kategorie') }}">Back</a>
        </div>
    </div>
{% endblock %}

