{% extends "base.html" %}
{% block title %}MyBlog{% endblock %}
{% block content %}

    <div class="card shadow">
        <div class="card-body">
            <p>
            <h1>{{ blog.titel }}</h1>
            </p>
            <p>
            <h4>Kategorie: {{ blog.Kategorie.name }}</h4>
            </p>
            <p>
                {{ blog.text }}
            </p>
            <a class="btn btn-danger" href="{{ url_for('blog.blog_remove',id=item.id) }}">Remove</a>
            <a class="btn btn-primary" href="{{ url_for('blog.blog_update_get',id=blog.id) }}">Update</a>
            <a class="btn btn-primary" href="{{ url_for('blog.blogs') }}">Back</a>
        </div>
    </div>
{% endblock %}

